<div class="verticalCenter ">
  <div id="containerBox" class="container animated fadeInRight ">
    <div id="createEmployeeBox" class="row text-center ">
      <div id="contentCreateEmployee" class="col-lg shadow rounded">
        <form>
          <h1 id="titleCreateEmployee" class="titles">Pedido</h1>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label text">código</label>
            <div id="input" class="col-sm-10">
              <p>LAD21-</p><input type="text" class="form-control text" id="staticEmail" placeholder="00000">
            </div>
          </div>
          <br />
          <br />
          <br />
          <button (click)="prueba()" class="row text-center ">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>
