<div class="container-fluid">
    <div class="row">
        <div id="containerNav" class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand px-5 py-2" href="#">
                    <img src="../../../assets/Logo.png" width="100" height="mr-auto" class="d-inline-block align-top" alt=""
                        loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item  pr-3">
                            <a routerLink="/home" class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active px-3">
                            <a class="nav-link" href="#">Empleados</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="#">Pedidos</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="#">Finanzas</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="#">Despacho</a>
                        </li>
                    </ul>

                    <li id="searchButton" class="nav-item dropdown navbar-text">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Buscar
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-right text-center"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu dropleft"><a class="dropdown-item dropdown-toggle"
                                    data-toggle="dropdown" href="#">Empleados</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Crear Empleado</a>
                                    <a class="dropdown-item" href="#">Ver Empleado</a>
                                    <a class="dropdown-item" href="#">Modificar</a>
                                    <a class="dropdown-item" href="#">Eliminar*</a>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Pedidos</a></li>
                            <li class="dropdown-submenu dropleft"><a class="dropdown-item dropdown-toggle"
                                    data-toggle="dropdown" href="#">Finanzas</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Adsadasd</a>
                                    <a class="dropdown-item" href="#">bssdasd</a>
                                </ul>
                            </li>

                            <li class="dropdown-submenu dropleft"><a class="dropdown-item dropdown-toggle"
                                    data-toggle="dropdown" href="#">Despacho</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">A</a>
                                    <a class="dropdown-item" href="#">b</a>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <picture>
                        <img id="userLogo" src="../../../assets/Iconos/people.svg" width="45" height="45"
                            class="d-inline-block align-top mx-4" alt="" loading="lazy">
                    </picture>
                </div>
            </nav>
        </div>
    </div>
    <!--Navbar Ends-->
    <div class="row">
        <!--Left Menu starts-->
        <div id="leftMenu" class="col-2 text-left">
            <ul class="list-group list-group-flush">

                <li id="titles" class="list-group-item">
                    <a href="#">
                        <img src="../../../assets/Iconos/noun_Plus_1886659.svg" width="30" height="30"
                            class="d-inline-block align-top" alt="" loading="lazy">
                        Crear Empleado
                    </a></li>
                <li id="titles" class="list-group-item">
                    <a class=".text-wrap" href="#">
                        <img src="../../../assets/Iconos/noun_Eye_1853787.svg" width="30" height="30"
                            class="d-inline-block align-top" alt="" loading="lazy">
                        Ver Empleado
                    </a></li>
                <li id="titles" class="list-group-item">
                    <a class=".text-wrap" href="#">
                        <img src="../../../assets/Iconos/noun_Pencil_2135274.svg" width="30" height="30"
                            class="d-inline-block align-top" alt="" loading="lazy">
                        Modificar 
                    </a></li>
                <li id="titles" class="list-group-item">
                    <a class=".text-wrap" href="#">
                        <img src="../../../assets/Iconos/noun_X_2147847.svg" width="30" height="30"
                            class="d-inline-block align-top" alt="" loading="lazy">
                        Eliminar
                    </a></li>
            </ul>
        </div>
        <!--Left Menu Ends-->
        <!--Main Content Starts-->
        <div class="col-10">

            <div class="verticalCenter">
                <div id="containerBox" class="container animated fadeInRight ">
                    <div id="loginBox" class="row text-center ">
                        <div id="contentLogin" class="col-lg shadow-lg rounded">
                            <h1 id="titleLogin" class="">Registrar empleado</h1>
                            <form class="">
                                <div class="input-group mb-4 px-5">
                                    <div class="form-row align-items-center">
                                        <div class="col-6 my-1">
                                            <input type="text" name="Nombre" required class="form-control"
                                                placeholder="Nombres">
                                        </div>
                                        <div class="col-6 my-1">
                                            <input type="text" name="Apellidos" required class="form-control"
                                                placeholder="Apellidos">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-4 px-5">
                                    <input type="mail" minlength="3" name="email" required email class="form-control"
                                        placeholder="Correo">
                                </div>
                                <div class="input-group mb-4 px-5">
                                    <div class="form-row align-items-center">
                                        <div class="col-4 my-1">
                                            <label class="mr-sm-2 sr-only"
                                                for="inlineFormCustomSelect">Preference</label>
                                            <select class="form-control" id="inlineFormCustomSelect">
                                                <option selected>C.C.</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-8 my-1">
                                            <input type="text" minlength="11" name="text" required class="form-control"
                                                placeholder="XXXXXXXXX">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-4 px-5">
                                    <input type="text" minlength="3" name="Telefono" required email class="form-control"
                                        placeholder="Telefono">
                                </div>
                                <div class="input-group mb-4 px-5">
                                    <select class="form-control">
                                        <option>Rol</option>
                                    </select>
                                </div>
                                <div class="container-login100-form-btn m-t-17">
                                    <button class="btn mt-5" type="submit">
                                        Continuar
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>