<div id="mainContainer" class="container-fluid">
  <div class="row my-4">
    <h2 class="titles">Despacho</h2>
  </div>
  <div class="fixed-bottom py-4 bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 offset-2">
          <div id="medium" class="form-row text-center">
            <div class="col-6">
              <div class="form-group row">
                <label for="clientName" class="col-sm-2 col-form-label titles">Cliente</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control text-center" disabled id="clientName"
                    placeholder="{{clientName}}">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="deliveryDate" class="col-sm-3 col-form-label titles">Fecha de
                  entrega</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control text-center" id="deliveryDate" [(ngModel)]="fechaCargue"
                    name="date" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <table id="orderTable" class="table table-hover">
        <thead>
          <tr id="tbHead">
            <th class="titles" id="tbHeadLeft">Codigo Producto</th>
            <th class="titles separator">Nombre</th>
            <th class="titles separator">Cantidad</th>
            <th class="titles separator">Medida</th>
            <th class="titles separator">Comentario</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tRow" *ngFor="let pedido of product">
            <th class="text align-middle" scope="row">
              <p>{{pedido.codigo_producto}}</p>
            </th>
            <td class="text align-middle">
              <p>{{pedido.nombre}}</p>
            </td>
            <td class="text align-middle">
              <p>{{pedido.cantidad}}</p>
            </td>
            <td class="text align-middle">
              <p>{{pedido.unidad_medicion}}</p>
            </td>
            <td id="comentarios" class="text align-middle">
              <p>{{pedido.comentarios}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let image of images" class="col-sm-3 my-2">
      <div class="card">
        <div class="card-body">
          <img src="{{image.url}}" alt="" class="img-fluid rounded">
          <button [disabled]="active" (click)="deleteImage(image)" class="btn btn-block mt-2"><img
              src="../../../../assets/Iconos/delete.svg" width="20" alt=""></button>
        </div>
      </div>
    </div>
  </div>

  <div id="cupload">
    <div id="upload" class="file-field">
      <div id="ari"></div>

      <div id="aba" class="flex-container">
        <span>📷</span>
        <input type="file" placeholder="subir foto" style="color: transparent" (change)="fileUpload($event)" multiple
          class="form-control mb-2">

      </div>
    </div>
  </div>
  <div id="buttons" class="row ">
    <div class="col text-center">
      <button type="button" [ngClass]="{btnDisable: atras === false } " class="btn btn-danger text"
        (click)="Atras()">Atras</button>
      <!-- Button trigger modal -->
      <button type="button" [ngClass]="{btnDisable: confirm === false } " class="btn btn-danger text"
        data-toggle="modal" data-target="#exampleModal">Confirmar</button>
      <button class="btn text" [ngClass]="{btnDisable: continuar === false } " (click)="verificar()"
        [disabled]="!continueEnable">Continuar </button>
    </div>
  </div>

  <div id="cont">
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col" id="htmlData">
              <div class="col text-center">
                <img src="../../../../assets/Logo.png" class="img-fluid" alt="">
              </div>
              <span>FECHA: <span style="font-weight: bold;">{{today}}</span></span>
              <p>HORA DE IMPRESIÓN: <span style="font-weight: bold;">{{hour}}</span> </p>
              <p>CÓDIGO DEL PEDIDO: <span
                  style="font-weight: bold;">Lad21-{{idOrder}}</span> </p>
              <p style="margin-bottom: 40px;">NOMBRE DEL CONDUCTOR:</p>
              <hr style="border-top: 1px solid rgb(0 0 0);">
              <table class="table"
                style="text-align: center; border: 2px solid black; border-collapse: initial;">
                <tr>
                  <th scope="col" class="w-50" style="border-right: 2px solid black;">NO</th>
                  <th scope="col" class="w-50">REALIZADO</th>
                </tr>
              </table>
              <p style="margin-bottom: 40px;">APROBADO:</p>
              <hr style="border-top: 1px solid rgb(0 0 0);">
              <p style="margin-bottom: 32px;">NOTA:</p>
              <hr style="border-top: 1px solid rgb(0 0 0); margin-bottom: 0px;">
              <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value"
                cssClass="text-center"></ngx-qrcode>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">

        <button type="button" class="btn btn-block" (click)="downloadPDF()">Descargar Ticket</button>
      </div>
    </div>
  </div>
</div>