

/**/
@font-face {
    font-family: "helveticaNowMicro-Regular";
    src: url("../../../../assets/Fonts/HelveticaNowMicro-Regular.otf");
  }

@font-face {
    font-family: "Mark-bold";
    src: url("../../../../assets/Fonts/Mark-Bold.ttf");
  }

  .verticalCenter {
    min-height: 100%;  
    min-height: 100%; 
    display: flex;
    align-items: center;
  }
#containerBox {
    display: flex; 
    justify-content:center;
    
}
#createEmployeeBox{
    display: flex;
    justify-content:center ;
    background: rgb(233, 232, 232);
    height:100%;
    width: 30rem;
    border-radius: 10px;
}
#contentCreateEmployee{
    width: 100%;
}
#titleCreateEmployee{
    font-size: 25px;
    margin: 2rem 0rem 3rem 0rem;
    font-weight: bolder;
}
#logoLadrillera{
    margin: 1rem 0rem 3rem 0rem;
}
.form-control{
    outline: none;
    border-width: 0 0 2px;
    border-color: rgb(209, 209, 209);
    background-color: transparent;
    border-radius: 0px;
    color:rgb(160, 160, 160) ;
    font-size: 18px;
    font-weight: bolder;
}
.input-group option{
    font-size: 15px;
}
.form-control:focus{
    font-size: 15px;
    box-shadow: none;
    font-family: "helveticaNowMicro-Regular";
}
.btn{
    background: red;
    color: white;
    border-radius: 10px;
    padding: 6px 32px 6px 32px;
}

