body {
    text-align: center;
}

.contenedor1 {
    float: left;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background: rgb(233, 232, 232);
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

#izq {
    width: 30%;
    height: 100%;
    float: left;
}

#der {
    width: 70%;
    height: 100%;
    float: right;
}

#avatar {
    width: 60px;
    height: 60px;
    margin-left: 20%;
    margin-top: 50%;
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    background: red;
    color: white;
    border-radius: 10px;
    padding: 6px 32px 6px 32px;
}
