<h1 class="text-center">Solicitud clientes</h1>
<div id="full">
    <div *ngFor="let i of clients" class="shadow contenedor1">
        <div id="izq">
            <div id="avatar">
                <img class="img-thumbnail rounded-circle shadow" src="../../../../assets/Iconos/user-solid.svg">
            </div>
        </div>
        <div id="der">
            <h2 class="mt-4 titles">{{i.nombre}}</h2>
            <p class="text">Telefono: {{i.telefono}}</p>
            <button (click)="change(i.id)" class="btn  titles">Crear cliente</button>
        </div>
    </div>
</div>
