<h1 class="text-cente">Solicitud clientes</h1>
<div id="full">
  <div id="contenedor1">
    <div id="izq">
      <div id="avatar">
        <img src="#">
      </div>
    </div>
    <div id="der">
      <h2>andres perez</h2>
      <p>Telefono: 3107975421</p>
      <button>Crear cliente</button>
    </div>
  </div>
  <div id="contenedor1">
    <div id="izq">
      <div id="avatar">
        <img src="#">
      </div>
    </div>
    <div id="der">
      <h2>andres perez</h2>
      <p>Telefono: 3107975421</p>
      <button>Crear cliente</button>
    </div>
  </div>
  <div id="contenedor1">
    <div id="izq">
      <div id="avatar">
        <img src="#">
      </div>
    </div>
    <div id="der">
      <h2>andres perez</h2>
      <p>Telefono: 3107975421</p>
      <button>Crear cliente</button>
    </div>
  </div>
  <div id="contenedor1">
    <div id="izq">
      <div id="avatar">
        <img src="#">
      </div>
    </div>
    <div id="der">
      <h2>andres perez</h2>
      <p>Telefono: 3107975421</p>
      <button class="btn my-5 titles">Crear cliente</button>
    </div>
  </div>
</div>
