<div class="container-fluid">
    <div id="loginBox" class="row text-center">
        <div id="contentLogin" class="col-lg">
            <h1 id="titleLogin" class="">iniciar Sesión</h1>
            <picture>
                <img id="logoLadrillera" class="img-fluid" src="../../../assets/Logo.png" alt="Logo Ladrillera 21">
            </picture>

            <form>

                <div class="input-group my-4 px-5">
                    <input type="text" class="form-control" 
                        aria-label="Recipient's username" >
                </div>
                <div class="input-group my-4 px-5">
                    <input type="password" class="form-control" 
                        aria-label="Recipient's username" >
                </div>
                <div  id="forgotPassword" class="px-5">
                    <span>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </span>
                </div>
                

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>