#containerNav{
    padding-right: 0px;
    padding-left: 0px;
}


#userLogo{
    border: 1px solid rgb(170, 167, 167);
    border-radius: 50px;
    padding: 3px;
}


.dropdown-menu{
    min-width: 13rem;
}
.dropdown-submenu:active .dropdown-menu{
    display: flex;
    flex-direction: column;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}
.list-group-item{
    border-width: 0 0 0px;
    padding: .25rem;
}

#icons, #titles{
    vertical-align: middle;
    display: inline-block;
}

.card{
    border: none;
    border-radius: 0 !important;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    margin-left: 1px;
    margin-right: 1px;
}
.list-group-item{
    background: transparent;
}
.bg-secondary {
    background-color: rgb(233, 232, 232)!important;

}
.card-columns{
    column-count: 2;
}