<div class="container-fluid">
  <!--Main Content-->
  <!--User Name-->
  <div class="row mb-2">
    <div class="col-12">
      <h2 class="titles">Hola, {{nombre}}.</h2>
    </div>
  </div>
  <!--Modules-->
  <div class="row">
    <!--Col 1-->
    <div class="col-md-12 col-lg-6 mb-3 scrollable">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card-columns">
              <!--Card 1-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Recursos Humanos'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/partnership-handshake.svg" width="40" height="40"
                      alt="handShake" class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles ">Asistente Comercial</h3>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/admin/cronogram">Cronograma</a> </li>
                    <li class="list-group-item titles"><a routerLink="/admin/report">Reportes</a> </li>
                    <li class="list-group-item titles"><a routerLink="/admin/create">Crear Clientes</a> </li>
                  </ul>

                </div>
              </div>
              <!--Card 2-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Ventas'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/box.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles">Ventas</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/orders/client">Crear Pedidos</a> </li>
                    <li class="list-group-item titles"><a routerLink="/orders/search">Ver Pedido</a> </li>
                    <li class="list-group-item titles"><a href="/orders/search">Eliminar</a> </li>
                  </ul>
                </div>
              </div>
              <!--Card 3-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Finanzas'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/money.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles">Tesoreria</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/finance/search">Legalizar pago</a> </li>
                  </ul>
                </div>
              </div>
              <!--Card 4-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Despacho'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/new.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles card-title">Despacho</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/delivery/cronogram">Cronograma</a> </li>
                    <li class="list-group-item titles"><a routerLink="/delivery/search">Buscar pedido</a> </li>
                  </ul>
                </div>
              </div>
              <!--Card 5-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Contabilidad'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/money.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles">Contabilidad</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/admin/create" >Crear Empleado</a></li>
                    <li class="list-group-item titles"><a routerLink="/admin/search">Ver Empleados</a></li>
                    <li class="list-group-item titles"><a routerLink="/admin/search" >Modificar</a></li>
                    <li class="list-group-item titles"><a routerLink="/accounting/request">Solicitud cliente</a> </li>
                    <li class="list-group-item titles"><a routerLink="/accounting/create">Crear Clientes</a> </li>
                    <li class="list-group-item titles"><a href="">Modificar Clientes</a> </li>
                  </ul>
                </div>
              </div>
              <!--Card 6-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Administrador'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/new.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles card-title">Administracion</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/release/create">Crear Comunicado</a> </li>
                    <li class="list-group-item titles"><a routerLink="/release/create">Modificar Comunicado</a> </li>
                    <li class="list-group-item titles"><a routerLink="/release/report">Reportes</a> </li>
                  </ul>
                </div>
              </div>
              <!--Card 7-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Porteria'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/new.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles card-title">Porteria</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/lodge/search">Verificacion de datos</a> </li>
                    <li class="list-group-item titles"><a routerLink="/lodge/search">Despachar pedido</a> </li>
                  </ul>
                </div>
              </div>
              <!--Card 8-->
              <div class="card  bg-secondary" *ngIf="rol==='Administrador'|| rol === 'Facturacion'">
                <div class="card-body">
                  <picture>
                    <img id="icons" src="../../../assets/Iconos/new.svg" width="40" height="40" alt="handShake"
                      class="mr-2">
                  </picture>
                  <h3 id="titles" class="mt-2 titles card-title">Facturacion</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item titles"><a routerLink="/billing/search">Facturar pedido</a> </li>
                  </ul>
                </div>
              </div>
              <!--Cards End-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Col 2-->
    <div class="cols-md-12 col-lg-6 fixed">
      <div class="container">
        <div class="row">
          <div class="col-12 scrollable">
            <!--Col 2 starts-->
            <div class="card bg-secondary mb-4">
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <h1 class="titles">Politica de privacidad y uso de Datos</h1>
                  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ut praesentium unde
                    inventore dolore
                    voluptate nam delectus, nesciunt ab, architecto itaque? Quisquam numquam placeat nisi blanditiis
                    deserunt! Mollitia, quibusdam quod? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias, beatae porro voluptatem vel velit amet minima laborum consectetur autem quas eligendi
                    unde voluptatum atque ipsa, dolore iste impedit aliquam commodi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis incidunt architecto atque
                    cupiditate harum laboriosam sapiente nihil corrupti iure, neque cumque amet laudantium possimus,
                    autem earum eligendi nulla dolor officia! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Corporis provident, nam nesciunt necessitatibus unde eligendi! Ducimus, aliquid aliquam sed
                    praesentium exercitationem explicabo rem, placeat veniam, voluptatem culpa temporibus. Velit,
                    facere!
                  </p>
                  <div class="continer-fluid">
                    <div class="row">
                      <div class="col text-left text-muted">20 de Julio 2020</div>
                      <div class="col text-right text-muted">Actualización de Myryam
                        Hernandez</div>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <div class="row">
                          <div id="usersPic" class="col">
                            <img id="userLogo1" src="../../../assets/Iconos/people.svg" width="45" height="45"
                              class="d-inline-block align-top  userLogo" alt="" loading="lazy">
                            <img id="userLogo2" src="../../../assets/Iconos/people.svg" width="45" height="45"
                              class="d-inline-block align-top  userLogo" alt="" loading="lazy">
                            <img id="userLogo3" src="../../../assets/Iconos/people.svg" width="45" height="45"
                              class="d-inline-block align-top  userLogo" alt="" loading="lazy">
                            <img id="userLogo4" src="../../../assets/Iconos/people.svg" width="45" height="45"
                              class="d-inline-block align-top  userLogo" alt="" loading="lazy">
                            <img id="userLogo5" src="../../../assets/Iconos/people.svg" width="45" height="45"
                              class="d-inline-block align-top  userLogo" alt="" loading="lazy">
                          </div>
                        </div>
                        <div class="row">
                          <small class="form-text text-muted col-12">Visto por:
                            <button class="btn" [tooltip]="HtmlContent" content-type="template">
                              +3
                            </button>
                          </small>
                          <ng-template #HtmlContent>
                            <span>Juan Pablo</span><br>
                            <span>Martha</span>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col">
                        <button type="button" class="btn btn-danger btn-block mt-2">Confirmar lectura</button>
                      </div>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
            <!--Col 2-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
