
.list-group-item{
    border-width: 0 0 0px;
    padding: .25rem;
}
.list-group-item a{
    color: #212529;
}
.list-group-item a:hover {
    color: #0d0e0e;
    text-decoration: none;
}
#icons, #titles{
    vertical-align: middle;
    display: inline;
}

.card{
    display: inline-block;
    width: 100%;
}
.list-group-item{
    background: transparent;
}
.list-group-item:hover{
    background: rgba(180, 180, 180, 0.5);
}
.bg-secondary {
    background-color: rgb(233, 232, 232)!important;

}
.card-columns{
    column-count: 2;
}

.scrollable{
    overflow-y: auto;
    height: 100%;
}

/*Scroll styles**************************************/
/* Tamaño del scroll */
.scrollable::-webkit-scrollbar {
    width: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
   .scrollable::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .scrollable::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .scrollable::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
   .scrollable::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .scrollable::-webkit-scrollbar-track:hover, 
  .scrollable::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  
/*Scroll styles ends**************************************/

#usersPic{
    height: 45px;
}
.userLogo{
    border: 1px solid rgb(170, 167, 167);
    border-radius: 50px;
}
#userLogo1{
    position: absolute;
    z-index: 0;
}
#userLogo2{
    position: absolute;
    z-index: 1;
    left: 42px;
    background: red;
}
#userLogo3{
    position: absolute;
    z-index:2 ;
    left: 71px;
    background: green;
}
#userLogo4{
    position: absolute;
    z-index:3;
    left: 100px;
    background: orange;
}
#userLogo5{
    position: absolute;
    z-index:4 ;
    left: 129px;
    background: purple;
}

@media (max-width: 992px) {
    .list-group-item{
        background: transparent;
        font-size: x-small;
    }
    #titles{
        font-size: large;
    }
}
