@font-face {
    font-family: "helveticaNowMicro-Regular";
    src: url("./assets/Fonts/HelveticaNowMicro-Regular.otf");
  }

@font-face {
    font-family: "Mark-bold";
    src: url("./assets/Fonts/Mark-Bold.ttf");
}

.text{
    font-family: "helveticaNowMicro-Regular";
    
}

.titles{
    font-family: "Mark-bold";
}