<div id="mainContainer" class="container-fluid">
  <div class="row my-4">
    <h2 class="titles">Montar pedido</h2>
  </div>
  <div class="row text-center">
    <div class="col">
      <table id="orderTable" class="table table-hover">
        <thead>
          <tr id="tbHead">
            <th class="titles" id="tbHeadLeft">Codigo Producto</th>
            <th class="titles separator">Nombre</th>
            <th class="titles separator">Cantidad</th>
            <th class="titles separator">Medida</th>
            <th class="titles separator">Valor de venta</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tRow" *ngFor="let pedido of pedidos.producto">
            <th class="text align-middle" scope="row">
              {{pedido['codigo_producto']}}
            </th>
            <td class="text">
              {{pedido.nombre}}
            </td>
            <td class="text">
              {{pedido['cantidad']}}
            </td>
            <td class="text">
              {{pedido['unidad_medicion']}}
            </td>
            <td class="text">
              {{pedido['valor_total']|currency}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex justify-content-end">
    <div class="col-4" id="total">
      <div class="form-group row">
        <label for="sellAmount" id="labelSell" class="col-3 col-form-label text-center titles">Venta
          Total</label>
        <div class="col">
          <input type="text" readonly class="form-control text-center" disabled id="sellAmount"
            value={{pedidos.total|currency}}>
        </div>
      </div>

    </div>
  </div>
  <div class="row d-flex justify-content-center align-middle ">
    <h1 id="statusOrder" class="img-thumbnail p-4 shadow titles">{{pedidos.status}}</h1>
  </div>
  <div class="fixed-bottom py-4 bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 offset-2">
          <div class="form-row text-center">
            <div class="col-6">
              <div class="form-group row">
                <label for="clientName" class="col-sm-2 col-form-label titles">Cliente</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control text-center" disabled id="clientName"
                    [(ngModel)]="nombreCliente" name="nombreCliente" placeholder="Nombre del cliente" disabled>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="deliveryDate" class="col-sm-3 col-form-label titles">Fecha de
                  entrega</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" id="deliveryDate" [(ngModel)]="pedidos.fechaCargue"
                    name="date" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="button" [ngClass]="{btnDisable: atras === false } " class="btn btn-danger text" (click)="Atras()">Atras</button>
                <button type="submit" [ngClass]="{btnDisable: confirm === false } " class="btn btn-danger text" (click)="confirmar()">Confirmar</button>
              <button type="button" [ngClass]="{btnDisable: continuar === false }" class="btn btn-danger text"  (click)="change()" [attr.disabled] = "btnDisable === false ? 'disabled' : null">{{nameBtn}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
