.form-control {
  outline: none;
  border-width: 0 0 2px;
  border-color: rgb(209, 209, 209);
  background-color: transparent;
  border-radius: 0px;
  color: rgb(160, 160, 160);
  font-size: 18px;
  font-weight: bolder;
}

.input-group option {
  font-size: 15px;
}

.form-control:focus {
  font-size: 15px;
  box-shadow: none;
  font-family: "helveticaNowMicro-Regular";
}

.btn {
  background: red;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  padding: 6px 32px 6px 32px;
}

.btnDisable {
  display: none;
}

#tbHeadLeft {
  background-color: #e4e4e4;
  border-radius: 15px 0px 0px 15px;
  border-top: none;
  border-bottom: none;
}

#tbHeadRight {
  background-color: #e4e4e4;
  border-radius: 0px 15px 15px 0px;
  border-top: none;
  border-bottom: none;
}

.separator {
  background: linear-gradient(rgb(199, 199, 199), rgb(199, 199, 199)) no-repeat left/2px 60%
}

#tbHead th {
  background-color: #e4e4e4;
  border-top: none;
  border-bottom: none;
}

.tRow th, .tRow td {
  border-top: none;
  border-bottom: none;
  margin: 20px 20px 20px 20px;
  background-color: #e4e4e4;
  border: 30px solid white;
  border-radius: 25px;
}

#lastElement {
  border-radius: 100%;
}

.test {
  background-color: white;
  border-radius: 25%;
}

#total {
  margin-right: 100px;
}

#labelSell {
  border: 2px solid black;
}

#plusElement {
  max-width: 3%;
  position: relative;
  width: 100%;
  margin-right: 34px;
  background-color: #e4e4e4;
  padding: 6px 0px 6px 0px;
}

#orderTable {
  margin-bottom: 0px;
}

#mainContainer {
  height: 100vh;
  overflow: visible;
}
.btnDisable{
  display: none;
}
#statusOrder {
  z-index: -20;
  position: absolute;
  top: 60%;
  left: 41%;
}
